<br />
<div class="row" style="text-align:center; font-family:Arial; font-size:medium; color:#242424;">
    <div class="col-lg-3">
        <div class="row">
            <img src="~/images/clientes.png" width="150" height="150" />
        </div>
        <span>Cadastro de Clientes</span>
    </div>
    <div class="col-lg-3" >
        <div class="row">
            <img src="~/images/vendedores.png" width="150" height="150" />
        </div>
        <span>Cadastro de Vendedores</span>
    </div>
    <div class="col-lg-3" >
        <div class="row">
            <img src="~/images/produtos.png" width="150" height="150" />
        </div>
        <span>Cadastro de Produtos</span>
    </div>
</div>
<br /><br />
<div class="row" style="text-align:center; font-family:Arial; font-size:medium; color:#242424;">
    <div class="col-lg-3" >
        <div class="row">
            <img src="~/images/vendas.png" width="150" height="150" />
        </div>
        <span>Registro de Vendas</span>
    </div>
    <div class="col-lg-3" >
        <div class="row">
            <img src="~/images/relatorios.png" width="150" height="150" />
        </div>
        <span>Relatórios</span>
    </div>
    <div class="col-lg-3" >
        <div class="row">
            <img src="~/images/configuracoes.png" width="150" height="150" />
        </div>
        <span>Configurações</span>
    </div>
</div>

